__pycache__/
scripts/__pycache__/
tests/out/
tests/ko/*.o
tests/ko/*.ko
tests/ko/*.mod
tests/ko/*.mod.c
tests/ko/*.mod.o
tests/ko/Module.symvers
tests/ko/modules.order
tests/ko/.*.cmd
tests/ko/.module-common.o
